.carusel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev{
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        border: none;
        left: -66px;
        img {
            width: 31px;
            height: 50px;
        }
        
    }
    .slick-next {
        position: absolute;
        background-color: #fff;
        border: none;
        left: auto;
        right: -66px;
        top: 50%;
        img {
            width:  31px;
            height: 50px;
        }
    }
}