.promo {
    min-height: 650px;
    padding: 21px 0 93px 0;
    background: url(../img/promo/bg1.png) center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items:flex-end;
        margin-top: 90px;
    }
    &__header {
        color: #ffffff;
        font-size: 42px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: right;
        text-transform: uppercase;
            }
    &__subheader {
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: right;
        text-transform: uppercase;
        margin-top: 17px;
    }
    &__icons {
        margin-top: 65px;
        display: flex;
        justify-content: space-between;
        width: 425px;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: center;
    }
    &__icon {
        width: 106px;
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
            margin-bottom: 20px;                  
        }
    }
    &__link {
        margin-top: 18px;
        display: block;
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: right;
        text-decoration: underline;
        text-decoration: none;
        a {
            color: #ffffff;
            font-size: 16px;
            font-weight: 500;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: right;
            text-decoration: underline;
            &:hover{
                color:salmon;
            }
        }
    }
}