@media (max-width: 1200px){
    .header{
        padding-right: 20px;
        &__official{
            font-size: 20px;
            span {
                font-size: 25px;
            }
        }
        &__phone{
            font-size: 20px;
        }
        &__icons {
            width: 100%;
        }
    }
    
     

    .button{
        
        height: 40px;
        width: 160px;
        &_main {
            height: 50px;
            width: 200px;
        }
    .advanteg {
        &__item{
            padding-right: 10px;
        }
        &__subtitle {
            font-size: 22px;
            }
        &__descr {
            font-size: 16px;
            }

    }
    }
    .promo{
        &__wrapper{
            padding-right: 20px;
        }
    }
    
}