@import 'variables';

* {
    font-family: 'MuseoSansCyrl', sans-serif;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import 'promo';
@import 'header.scss';
@import 'button';
@import 'title';
@import 'advanteg';
@import 'media';
@import 'consultation';
@import 'forms';
@import 'carusel';
@import 'catalog';
@import 'feed';